<template name="homePage">
<div style="background-image:url(img/back.jpg)">

<header class="shadow" >
  <div id="logo"><img  src="img/dosa-logo2.png" width="100" alt="Homepage"></div>
  <div id="cd-hamburger-menu"><a class="cd-img-replace" href="#0">Menu</a></div>
  <div id="cd-cart-trigger"><a class="cd-img-replace" href="#0">Cart</a></div>
<!-- NAVIGATIONS -->
<nav id="main-nav">
  <ul style="font-family: 'Montserrat';">
    <li> <a href="#menu" >Our Menu</a> </li>
    <li> <a href="#aboutUs" >About Us</a> </li>
    <li> <a href="#catering">Catering</a> </li>
    <li> <a href="#findUs">Find Us</a> </li>
  </ul>
</nav>

</header>
<!-- NAVIGATIONS END --> 
<!-- Main Page START -->
<main>
  <div id="masthead" style="background-image:url(img/ghee.jpg); background-position:center; background-size:cover; height:300px" >
    <div class="container"  align="center">
      <div class="row">
        <div class="col-md-7" style="color:white">
          <h1 id="page0" style="font-family: 'Rock Salt', sans-serif;text-shadow: 3px 2px 4px black;">Dosa House</h1>
          <p class="lead"  style="font-family: 'Montserrat', sans-serif;text-shadow: 1px 2px 2px black;">Quick. Fast. Food</p>
        </div>
      </div>
    </div>
    <!--/container--> 
    
  </div>

<!-- Main Content --> 
<!-- Main > Start Menus-->
<div class="col-xs-12" >
  <div class="row"  id="menu">

      {{#each categoryMenu}}

        {{#if isMenuAvailable Value}}

                    <div align="left" style="padding-left:15px;">
                      <p>&nbsp;</p>
                      <p>
                          <h1 > ♨ {{ Value }} ♨ </h1>
                      </p>

            {{ #each menu Value }}

                      <div class="col-lg-6" id="{{UniqueId}}">
                          <div class="the-menu-item {{soldOut fontLine}}">
                            <div class="image-wrap thumbnail"> <img src="http://lorempixel.com/50/50/food" alt=""> </div>
                              <a  href="#">
                              <div class="the-menu-body">
                                <h4 class="xsm">{{Name}}</h4>
                                <p class="small">{{Description}}</p>
                              </div>
                              </a>
                      {{#if isItemAvailable fontLine}}  

                            <div class="prices"> 
                                <button type="button" class="fa fa-shopping-cart  btn btn-default addcart" data-toggle="tooltip" data-placement="bottom" title="Add to Order">
                                  <span class="price xsm"> {{currency Charge}} </span>  
                                </button>
                            </div>
                      {{else}}

                              <div class="prices"> <span class="price xsm">{{ currency Charge}}</span> </div>
                              <div class="highlight">SOLD OUT</div>  
                      
                      {{/if}} 
                          </div>
                      </div>

            {{/each}} 
                      

                      {{#if idOddNumberItems Value}}
                          <div class="col-lg-6" id="dummy">
                            <div class="the-menu-item ">
                                <div class="image-wrap thumbnail">  </div>
                                  <a  href="#">
                                      <div class="the-menu-body">
                                        <h4 class="xsm"></h4>
                                        <p class="small"></p>
                                      </div>
                                  </a>
                                  <div class="prices"> 
                                

                                  </div>
                             </div>     
                      </div>
                      {{/if}}


          </div>

          {{/if}}

        {{/each}}

  </div>
</div>


<!-- About US-->
{{>aboutUs}}

<!---End About US-->
<!-- Catering -->
{{>catering}}
<!---End Catering-->
<!-- Main > End Menus --> 
<!-- Main Page END -->

<div id="cd-shadow-layer"></div>
</main>
  <!-- FOOTER -->

  {{>footer}}

  <!-- END / FOOTER --> 

<!-- Gem jQuery -->
</div>

</template>
